h1, h3 {
  font-family: "lato", sans-serif;
  color: white;
  font-weight: 300;
}

body {
  background-color: rgba(0,0,0,.8);
  margin: 0;
  padding: 0;
}

input {
  /* color: white !important; */
  text-align: center;
  width: fit-content !important;
  font-weight: 300;
}
